<ion-header>
    <ion-toolbar>
        <div class="cabecalho">
            <ion-title>Cadastrar Produto</ion-title>
            <ion-button (click)="fechar()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label stacked>Nome</ion-label>
        <ion-input type="text" [(ngModel)]="produto.nome"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label stacked>Descrição</ion-label>
        <ion-input type="text" [(ngModel)]="produto.descricao"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label stacked>Quantidade</ion-label>
        <ion-input type="number" [(ngModel)]="produto.quantidade"></ion-input>
    </ion-item>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-button (click)="salvar()" size="full">
            Salvar
        </ion-button>
    </ion-toolbar>
</ion-footer>