<ion-header>
    <ion-toolbar>
        <div class="cabecalho">
            <ion-title>Abrir Chamado</ion-title>
            <ion-button (click)="fechar()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label position="stacked">Descrição</ion-label>
        <ion-textarea [(ngModel)]="chamado.descricao"></ion-textarea>
    </ion-item>
    <ion-item>
        <ion-label position="stacked">Funcionário</ion-label>
        <ion-input type="text" [(ngModel)]="chamado.funcionario_nome" readonly></ion-input>
        <ion-icon slot="end" name="search" (click)="buscarFuncionario()"></ion-icon>
    </ion-item>
    <ion-item>
        <ion-label position="stacked">Tipo de Serviço</ion-label>
        <ion-select [(ngModel)]="chamado.tipo_servico">
            <ng-template ngFor let-servico [ngForOf]="servicos">
                <ion-select-option [value]="servico">{{servico.nome}}</ion-select-option>
            </ng-template>
        </ion-select>
    </ion-item>
</ion-content>
<ion-toolbar>
    <ion-button (click)="salvar()" size="full">
        Salvar
    </ion-button>
</ion-toolbar>